* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  background: #f2d0e0;
  height: 100vh;
  justify-content: space-between;
}

.header {
  background: mediumvioletred;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  background-color: #fff;
  flex-grow: 1;
  border: 1px solid black;
}

.bolo {
  max-width: 100%;
  display: block;
}

.arrow-icon {
  height: 20px;
}

.icon-img {
  height: 20px;
}

footer {
  height: 70px;
  background-color: mediumvioletred;
  padding-top: 10px;
  text-align: center;
}

#menu {
  background-color: #f2d0e0;
  width: 300px;
}

section {
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.flex > div {
  flex: 1 1 200px;
}
