* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: #46466e;
}

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.card-item {
  margin: 10%;
  text-align: center;
  font-weight: 600;
  box-shadow: 2px 2px 2px #1e56a0;
}
