* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: #46466e;
}

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
